<template>
  <div class="item">
    <h3>{{ item.title }}</h3>
    <p>{{ item.description }}</p>
    <div class="bottom-panel">
      <p class="reference push-right">#{{ item.id }}</p>
      <button class="delete-button" @click="onDelete">Delete</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListItem",
  props: ["item"],
  methods: {
    onDelete() {
      this.$emit("delete", this.item);
    },
  },
};
</script>

<style scoped>
.item {
  text-align: start;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  padding: 8px;
}

.bottom-panel {
  display: flex;
  flex-direction: row;
}

.reference {
  font-size: 0.8rem;
  color: grey;
}

.delete-button {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.delete-button:hover {
  border-color: #2c3e50;
}
</style>
