<template>
  <div class="list" :style="style">
    <div class="list-header">
      <h3 class="push-right"><slot></slot></h3>
      <button class="add-button" @click="addItem">
        <font-awesome-icon icon="plus" />
      </button>
    </div>

    <div class="list-content">
      <draggable v-model="list" group="a">
        <ListItem
          :key="item.id"
          v-for="item in items"
          :item="item"
          @delete="deleteItem"
        ></ListItem>
      </draggable>
    </div>
  </div>
</template>

<script>
import ListItem from "./list-item";
import draggable from "vuedraggable";

export default {
  name: "List",
  props: ["items", "color", "listType"],
  components: {
    ListItem,
    draggable,
  },
  computed: {
    style() {
      return `border-top: 8px solid ${this.color}`;
    },

    list: {
      get() {
        return this.items;
      },

      set(value) {
        this.$emit("change", value);
      },
    },
  },
  methods: {
    addItem() {
      this.$emit("open");
    },

    deleteItem(item) {
      this.$emit("delete", item);
    },
  },
};
</script>

<style scoped>
.list {
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fafafa;
  width: 400px;
  margin: 8px;
}

.list-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 16px;
}

.list-content {
  padding: 24px 16px;
}

.add-button {
  color: #2c3e50;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding: 0 16px;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0;
  cursor: pointer;
}

.add-button:hover {
  border-color: #2c3e50;
}
</style>
