<template>
  <div class="modal-backdrop">
    <div class="modal">
      <header>
        <h3>
          <slot></slot>
        </h3>
      </header>

      <section>
        <input type="text" placeholder="Title" v-model="item.title" />
        <input
          type="text"
          placeholder="Description"
          v-model="item.description"
        />
      </section>

      <footer>
        <button id="close-button" class="button" @click="close">Cancel</button>
        <button id="add-button" class="button" @click="add">Add</button>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: "modal",
  data() {
    return {
      item: {
        title: "",
        description: "",
      },
    };
  },
  methods: {
    add() {
      this.$emit("add", this.item);
      this.item = {
        title: "",
        description: "",
      };
    },
    close() {
      this.$emit("close");
      this.item = {
        title: "",
        description: "",
      };
    },
  },
};
</script>

<style>
header,
footer {
  display: flex;
}

footer {
  justify-content: flex-end;
}

section {
  padding-bottom: 16px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:hover,
input[type="text"]:focus,
select:hover,
select:focus {
  border-color: #2c3e50;
}

.button {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.button:hover {
  border-color: #2c3e50;
}
</style>