<template>
  <div id="app">
    <div class="container">
      <List
        :items="backlogItems"
        :color="'grey'"
        :listType="'backlog'"
        @open="openModalBacklog"
        @change="onBacklogChange"
        @delete="onBacklogItemDelete"
      >
        Backlog
      </List>
      <List
        :items="inProgressItems"
        :color="'orange'"
        :listType="'progress'"
        @open="openModalInProgress"
        @change="onInProgressChange"
        @delete="onProgressItemDelete"
      >
        In Progress
      </List>
      <List
        :items="doneItems"
        :color="'green'"
        :listType="'done'"
        @open="openModalDone"
        @change="onDoneChange"
        @delete="onDoneItemDelete"
      >
        Done
      </List>
    </div>

    <modal
      v-show="isModalBacklogVisible"
      @add="onAddToBacklog"
      @close="closeModal"
    >
      Add to "Backlog"</modal
    >
    <modal
      v-show="isModalInProgressVisible"
      @add="onAddToInProgress"
      @close="closeModal"
    >
      Add to "In Progress"</modal
    >
    <modal v-show="isModalDoneVisible" @add="onAddToDone" @close="closeModal">
      Add to "Done"</modal
    >
  </div>
</template>

<script>
import List from "./components/list";
import modal from "./components/modal";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "App",
  components: {
    List,
    modal,
  },
  data() {
    return {
      isModalBacklogVisible: false,
      isModalInProgressVisible: false,
      isModalDoneVisible: false,
    };
  },
  computed: {
    ...mapGetters([
      "backlogItems",
      "inProgressItems",
      "doneItems",
      "currentMaxId",
    ]),
  },
  methods: {
    ...mapActions([
      "addToBacklog",
      "addToInProgress",
      "addToDone",
      "updateBacklog",
      "updateInProgress",
      "updateDone",
      "removeFromBacklog",
      "removeFromInProgress",
      "removeFromDone",
    ]),

    openModalBacklog() {
      this.isModalBacklogVisible = true;
    },

    openModalInProgress() {
      this.isModalInProgressVisible = true;
    },

    openModalDone() {
      this.isModalDoneVisible = true;
    },

    closeModal() {
      this.isModalBacklogVisible = false;
      this.isModalInProgressVisible = false;
      this.isModalDoneVisible = false;
    },

    onAddToBacklog(item) {
      this.addToBacklog({ ...item, id: this.currentMaxId + 1 });
      this.isModalBacklogVisible = false;
    },

    onAddToInProgress(item) {
      this.addToInProgress({ ...item, id: this.currentMaxId + 1 });
      this.isModalInProgressVisible = false;
    },

    onAddToDone(item) {
      this.addToDone({ ...item, id: this.currentMaxId + 1 });
      this.isModalDoneVisible = false;
    },

    onBacklogChange(updatedBacklog) {
      this.updateBacklog(updatedBacklog);
    },

    onInProgressChange(updatedProgress) {
      this.updateInProgress(updatedProgress);
    },

    onDoneChange(updatedDone) {
      this.updateDone(updatedDone);
    },

    onBacklogItemDelete(deletedItem) {
      this.removeFromBacklog(deletedItem);
    },

    onProgressItemDelete(deletedItem) {
      this.removeFromInProgress(deletedItem);
    },

    onDoneItemDelete(deletedItem) {
      this.removeFromDone(deletedItem);
    },
  },
};
</script>

<style>
*,
*:focus,
*:hover {
  outline: none;
}

body {
  background-color: #fff;
  height: 100vh;
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.container {
  display: flex;
  align-items: stretch;
  height: min-content;
  min-height: 100vh;
}

.push-right {
  margin-right: auto;
}
</style>
